POSTGRES_USER_SNIPPET=snippet_user
POSTGRES_PASSWORD_SNIPPET=snippet_password
POSTGRES_DB_SNIPPET=snippet_db

AUTH0_ISSUER_URI=https://your-domain.auth0.com/
AUTH0_AUDIENCE=https://your-domain.com/api
AUTH0_TOKEN_URI=https://your-domain.auth0.com/oauth/token

SNIPPET_SERVICE_M2M_CLIENT_ID=your_snippet_m2m_client_id
SNIPPET_SERVICE_M2M_CLIENT_SECRET=your_snippet_m2m_client_secret

PRINTSCRIPT_SERVICE_URL=http://printscript-service-api:8080
AUTHORIZATION_SERVICE_URL=http://authorization-service-api:8080
ASSET_SERVICE_URL=http://asset-service-api:8080/v1/asset

REDIS_HOST=redis-bus
REDIS_PORT=6379

NEW_RELIC_LICENSE_KEY=your_new_relic_license_key_here

